.bodyo{
	height: 600px;
}
.left{
	float:left;
	width:21.9%;
	height: 100%;
	
}
.leftone{
	 margin-left: 90px;
	 margin-top: 50px;
	 overflow:hidden; 

}
.leftone span{
	display: block;
	font-size: 20px;
}

.leftone ul li a {
 width:120px; height:40px; 
 text-align:center; line-height:40px; display:block; 
 font-size: 20px;
 color: black;
}
.leftone ul li a:hover{
	color:gray;
}
.leftone ul li ul {display:none;}

.leftone ul li:hover ul{ display:block;}
.zhong{
	float: left;	
	margin-top: 20px;
	height: 80%;
	border: 1px solid gray;
	background-color: gray;
	width: 1px;
}
.right{ 
	margin-left: 22%;
	height: 100%;
   	width: 78%;
}
.rightone{
	height:10%;
}
.righttwotable{
	float: left;
	margin-top: 30px;
	margin-left: 50px;
}
.one{
	float: left;
	width: 150px;
	height:80px;
}
.two{
	float: left;
	display:block;
	word-break: break-all;
	word-wrap: break-word;
	overflow:hidden;   
	width: 130px;
	height:80px;
	line-height:25px;  
}
.two span a{
	font-size: 15px;
	color: black;
	
}
.rightthree{
	float: left;
	margin: 50px 0 0 270px;
}
.pager li {
	float: left;
	margin-left: 20px;
}
.pager button{
	height: 20px;
	width:40px;
	background-color: white;
	border: none;
}
select{
	padding: 0 2%;
	margin: 20px 0 0 90px;
	height: 30px;
	width: 120px;
}
option{
	text-align: center;
}


