.body{
	height: 1950px;
	width: 80%;
	margin:0 auto;
	
}
.kecheng{
	padding-top: 30px;
	height:300px;
	border-bottom: 2px solid black;
}
.shipin{
	float: left;
	margin-top:20px;
	margin-left:200px;
}
video{
	width: 100%;
	height: auto;
}
.jieshao{
	float: left;
	height: 230px;
	width: 300px;
	margin-top:20px;
	margin-left: 50px;
	border:1px dashed gray;
}
.jieshao span{
	display: block;
	padding: 1px 50px;
}
.jieshao p{
	padding-top: 8px;
	padding-left: 120px;
}
h3{
	font-size: 20px;
	font-weight: 600;
	margin:15px 0 15px 70px;
}
.xiangqing{
	border:1px dashed black;
	width: 100%;
}
.shang{
	height: 200px;
	margin: 20px 0 30px 60px;
}
.one {
	float: left;
	margin-left: 120px;
}
.two {
	float: left;
	overflow:hidden; 
	margin-left: 50px;
	height: 200px;
	width: 270px;
	line-height:25px;   
	text-align: center;
}
.tt{
	float: left;
	margin-left: 120px;
	overflow:hidden; 
	height: 200px;
	width: 270px;
	line-height:25px;   
	text-align: center;
}
.oo{
	float: left;
	margin-left: 50px;
}
.pp{
	overflow:hidden; 
	margin-left: 300px;
	height: 90px;
	width: 450px;
	line-height:25px;   
	text-align: center;
}
.ping{
	border-bottom:1px solid black;
	margin-top: 20px;
	width: 100%;
}
.pingjia{
	height: 60px;
}
.pingjia ul li span{
	font-size: 15px;
	font-weight: 600;
}
.pingjia ul li{
	float: left;
	padding-left: 90px;
	padding-top: 10px;
}
.pingjia ul li a input{
	height: 28px;
	width: 100px;
	font-size: 15px;
	background-color:white;
	color: #ADFF2F;
	border:1px solid gray;
}
.pinglun{
	display: inline-block;
	border: 1px dashed black;
	width: 100%;
}
.zuo{
	float: left;
	margin: 20px 0 20px 120px;
}
.zhong{
	float: left;
	height: 50px;
	width: 300px;
	margin: 20px 0 20px 150px;
	overflow:hidden; 
}
.you{
	float: left;
	margin-left:150px;
}
.pager{
	margin: 10px 0 0 380px;
}
.pager li {
	float: left;
	margin-left: 20px;
}
.pager button{
	height: 20px;
	width:40px;
	background-color: white;
	border: none;
}

.fabiao textarea{
	margin:10px 0 10px 210px;
}
.fabiao button{
	margin-left: 700px;
	background-color:#adff2f;
	color: black;
	font-size: 15px;
	font-weight: 600px;
	height: 30px;
	width: 120px;
	border:1px solid white;
	margin-bottom: 20px;
}
.tuijian{
	height: 250px;
}
.tuione{
	float: left;
	width: 310px;
	margin: 5px 0 0 40px;
	border: 1px solid gray;
}
.tuitu{
	margin:20px 0 0 20px;
}
.tuizi{
	margin: 20px 0 20px 0;
}
.tuione span{
	text-align: center;
	display: block;
	font-weight:600;
	font-size: 15px;
}