
.body{
	height:600px;
}
h2{
	font-weight: 100;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.one{
	width: 40%;
	height:150px;
	border: 1px solid gray;
	margin:auto;
}
.one input{
	margin-top: 10px;
	margin-left: 50px;
}
.one span{
	margin-left: 50px
}
#btn{
	margin-top: 10px;
	margin-left:850px;
	background-color: white;
	border: 1px solid gray;
	height: 30px;
	width: 50px;
}
